.user-menu {
    position: relative;
    display: flex;
    flex-direction: column;

    &__top-inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 12px;
        font-size: 20px;
        line-height: 110%;
        font-family: var(--ff-thic);

        @include mobile {
            display: none;
        }
    }

    &__bottom-inner,
    &__bottom-inner-mobile {
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 16px;

        background-color: var(--eclipse);
    }

    &__bottom-inner {
        width: 188px;
        bottom: -150px;
        right: 0;
        padding: 20px 24px;
        border-radius: 12px;
    }

    &__bottom-inner-mobile {
        top: 62px;
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid var(--dim-gray);
    }

    &__main-link {
        &--primary {
            font-weight: 600;
            color: var(--nobel);
        }

        @include mobile {
            font-size: 16px;
            line-height: 112%;
        }
    }

    &__link {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 12px;
        padding: 8px 0;
        font-family: var(--ff-thic);
        font-size: 20px;
        line-height: 110%;

        @include mobile {
            font-size: 16px;
            line-height: 112%;
        }
    }

    &__button,
    &__button-mobile {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 7px;
        cursor: pointer;
        background-color: transparent;
        color: var(--white);
        border: 0;
        font: inherit;
    }

    &__button {
        padding: 10px 0 10px 20px;
        width: fit-content;
    }

    &__button-mobile {
        width: 100%;
        justify-content: space-between;
        padding: 19px 0;
        border-top: 1px solid var(--dim-gray);
        border-bottom: 1px solid var(--dim-gray);
        font-size: 16px;
        line-height: 112%;
    }

    &__toggle {
        display: none;
        width: 44px;
        height: 44px;
        padding: 0;
        background: transparent;
        border: none;

        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;
            margin-left: -12px;
        }
    }

    &__toggle-decor {
        height: 2px;
        width: 18px;
        border-radius: 2px;
        background-color: var(--white);
    }

    &__overlay {
        position: absolute;
        z-index: 2;
        top: -18px;
        right: -16px;
        width: 100vw;
        overflow: hidden;
        height: 100vh;
        background-color: var(--eclipse-rgba);
    }

    &__mobile {
        position: absolute;
        right: -16px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 260px;
        height: 100vh;
        background-color: var(--eclipse);
        z-index: 3;
        padding: 28px 40px 28px 24px;
    }

    &__mobile-top-wrapper {
        display: flex;
        align-items: center;
        gap: 32px;
        margin-right: 10px;

        &:not(:last-child) {
            margin-bottom: 28px;
        }
    }

    &__logo-link {
        display: flex;
        width: 130px;
        height: 32px;
    }

    &__mobile-inner {
        position: relative;
        width: 100%;
    }
}