.settings-tab {
    &__form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        max-width: 512px;
    }

    &__title {
        margin: 0;
        font-family: var(--ff-thic);
        font-size: 28px;
        line-height: 143%;
    }

    &__button {
        width: fit-content;
        font-weight: 700;
        font-size: 16px;
        line-height: 112%;
    }
}