.promo-card {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 404px;
    min-height: 612px;
    padding: 42px 48px;
    background-color: var(--eclipse);
    border-radius: 12px;

    @include tablet {
        padding: 30px;
        min-height: 580px;
    }

    @include mobile {
        gap: 20px;
        min-height: 487px;
    }

    &__price {
        font-size: 54px;
        line-height: 122%;
        font-family: var(--ff-dm-sans);

        @include mobile {
            font-size: 36px;
        }
    }

    &__title {
        margin: 0;
        font-family: var(--ff-thic);
        font-size: 24px;
        line-height: 108%;
    }

    &__slogan {
        margin: 0;
        font-family: var(--ff-thic);
        line-height: 167%;
        text-align: center;
        color: var(--very-light-grey);

        @include mobile {
            font-size: 16px;
        }
    }

    &__top-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        padding-bottom: 40px;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: var(--nobel);
        }

        @include mobile {
            padding-bottom: 15px;
        }
    }

    &__bottom-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;

        button {
            width: 100%;
            font-weight: 700;
            color: var(--black);
        }

        @include mobile {
            gap: 16px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: flex;
            gap: 14px;
        }

        &-decor {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            width: 26px;
            height: 26px;
            background-color: var(--white);
            color: var(--eclipse);
            border-radius: 50%;

            svg {
                z-index: 1;
            }
        }

        @include mobile {
            font-size: 16px;
        }
    }
}

.promo-card--primary {
    background-color: var(--tomato);

    .promo-card__slogan {
        color: var(--white);
    }

    .promo-card__top-wrapper {
        &::after {
            background-color: var(--white);
            opacity: 0.7;
        }
    }

    .promo-card__list-decor {
        color: var(--tomato);
    }

    .promo-card__bottom-wrapper {
        button {
            color: var(--tomato);
        }
    }
}