.promo {
    padding: 16px 0 42px;

    &__title {
        margin: 0;
        font-size: 44px;
        line-height: 123%;
        text-align: center;

        &:not(:last-child) {
            margin-bottom: 48.5px;
        }

        @include mobile {
            font-size: 28px;
            line-height: 143%;

            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 48px 28px;

        div:nth-child(odd) {
            margin-top: 50px;
        }

        &:not(:last-child) {
            margin-bottom: 33px;
        }

        @include tablet {
            grid-template-columns: 1fr;
            justify-items: center;

            div:nth-child(odd) {
                margin-top: 0;
            }
        }

        @include mobile {
            gap: 18px;
        }
    }

    &__contact-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        font-family: var(--ff-thic);
    }

    &__link-title {
        line-height: 167%;
    }

    &__link {
        color: var(--tomato);
        text-decoration: underline;

        &:hover,
        &:focus {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }

}