.checkbox {
    position: relative;

    & input {
        &:hover:not(:disabled)+.checkbox__decor {
            background-color: var(--very-light-grey);
        }

        &:focus:not(:disabled)+.checkbox__decor {
            outline: 4px solid var(--very-light-grey-rgba);
            border-color: var(--white);
        }

        &:checked+.checkbox__decor {
            background-color: var(--tomato);
            border-color: var(--tomato);
            color: var(--white);
        }

        &:checked:hover:not(:disabled)+.checkbox__decor {
            background-color: var(--persian-red);
            border-color: var(--persian-red);
        }

        &:checked:focus:not(:disabled)+.checkbox__decor {
            outline: 4px solid var(--tomato-rgba2);
        }

        &:disabled+.checkbox__decor {
            opacity: 0.5;
        }
    }

    &__decor {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        background-color: var(--white);
        border: 1px solid var(--very-light-grey);
        box-shadow: 0 2px 6px 0 var(--black-russian-rgba);
        border-radius: 7px;
        color: transparent;
    }
}