.settings {
    padding-top: 32px;
    overflow-x: hidden;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    &__title {
        margin: 0;
        font-family: var(--ff-thic);
        font-size: 54px;
        line-height: 119%;
    }

    &__tabs-wrapper {
        position: relative;

        &::after,
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100vw;
            height: 2px;
            background-color: var(--dim-gray);
            z-index: -1;
        }

        &::before {
            left: -100%;
        }
    }
}