.primary {
    & input {
        border: 1px solid var(--light-gray);
        background-color: var(--white);
        color: var(--dim-gray);
        box-shadow: 0 2px 12px 0 rgba(var(--black-russian), 0.06);

        &:disabled {
            opacity: 0.6;
        }
    }
}