.account {
    padding: 32px 0 0;

    &__inner {
        max-width: 660px;
    }

    &__tabs-list {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin: 0;
        padding: 0;
        list-style: none;

        &:not(:last-child) {
            margin-bottom: 64px;
        }
    }

    &__title {
        margin: 0;
        font-family: var(--ff-thic);
        font-size: 44px;
        line-height: 123%;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__text {
        margin: 0;
        font-family: var(--ff-thic);
        font-size: 14px;
        line-height: 171%;

        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 24px;

        button {
            width: fit-content;
            margin-top: 24px;
            font-weight: 700;
            font-size: 16px;
            line-height: 112%;
        }

        &:not(:last-child) {
            margin-bottom: 48px;
        }
    }

    &__link-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin: 0;
        font-family: var(--ff-thic);
        font-size: 16px;
        line-height: 112%;

        a {
            color: var(--tomato);
        }
    }
}